body {
	font-family: 'Montserrat', sans-serif!important;
	background-image: url(img/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	max-width: 1220px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.container h1 {
	font-weight: 900;
	text-decoration: underline;
    width: auto;
}

.container .row {
	width: 100%;
    max-width: 500px;
    margin: 0;
    padding: 0
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.container .row-2 {
	width: 100%;
    max-width: 500px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
}

.container .row .col-6 {
	padding: 0;
}

.container .row .left {
	padding-right: 2.5px;
}

.container .row .right {
	padding-left: 2.5px;
}

.container .row .col-6 input {
	width: 100%;
	background: #fff;
    height: 50px;
    border: 2px solid #000;
    border-radius: 0;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
}

.container .row .col-6 input:hover {
	background: #000;
	color: #fff;
}

.container .row .input-field {
	margin-top: 30px;
    height: 50px;
    border: 2px solid #000;
    padding: 0 15px;
    background-repeat: no-repeat;
	background-position: 96% 50%;
	background-size: auto;
	outline: none;
}

.container .row .in-1 {
	background-image: url(img/rsd.png);
}

.container .row .in-2 {
	background-image: url(img/eu.png);
}

.container .row .in-3 {
	background-image: url(img/usd.png);
	
}

.container .row .in-4 {
	background-image: url(img/chf.png);
	background-position: 97.5% 50%;
}

.container .row .input-field:focus {
	outline: none;
}

.container .row .input-field::placeholder {
	color: #ccc;
}

.container .row .input-field::-webkit-outer-spin-button,
.container .row .input-field::-webkit-inner-spin-button {
 	-webkit-appearance: none;
  	margin: 0;
}